@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /*react-tooltip styles*/
   --rt-color-white: var(--text-primary);
   --rt-color-dark: var(--text-secondary);
   --rt-color-success: var(--primary);
   --rt-color-error: var(--error);
   --rt-color-warning: var(--primary);
   --rt-color-info: var(--text-primary);
   --rt-opacity: 0.2;
   --rt-transition-show-delay: 0.1s;
   --rt-transition-closing-delay: 0.1s;
}

.tooltip {
   background-color: white !important;
}

body {
   font-family: Outfit;
   background-color: var(--background);
   color: var(--text-primary);

   margin: 0;
   padding: 0;

   overflow: hidden;
}

button, input {
   all: unset;
}

* {
   box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-background-clip: text;
   -webkit-text-fill-color: var(--text-primary);
   box-shadow: inset 0 0 20px 20px var(--surface);
}

input,
textarea,
button,
select,
div,
a {
   -webkit-tap-highlight-color: transparent;
}

.app {
   height: 100vh;
   width: 100vw;
   overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}

.theme-dark {
   /* UI Elements 1 */
   --primary: rgba(205, 167, 69, 1);
   --primary-variant: rgba(205, 167, 69, 0.7);
   --primary-dark: rgba(205, 167, 69, 0.3);
   --background: rgba(9, 9, 9, 1);
   --inset: rgba(13, 13, 13, 1);
   --surface: rgba(19, 19, 19, 1);
   --error: rgba(191, 65, 65, 1);
   --success: rgba(102, 183, 68, 1);
   --text-primary: rgba(187, 187, 187, 1);
   --text-secondary: rgba(81, 81, 81, 1);
   --text-background: rgba(30, 30, 30, 1);
   --text-surface: rgba(195, 195, 195, 1);
   --text-error: rgba(75, 39, 39, 1);
}

.theme-light {
   /* UI Elements 1 */
   --primary: rgb(218, 184, 89);
   --primary-variant: rgba(218, 184, 89, 0.7);
   --primary-dark: rgba(218, 184, 89, 0.3);
   --background: rgba(254, 254, 254, 1);
   --inset: rgba(251, 251, 251, 1);
   --surface: rgba(247, 247, 247, 1);
   --error: rgba(191, 65, 65, 1);
   --success: rgba(102, 183, 68, 1);
   --text-primary: rgba(40, 40, 40, 1);
   --text-secondary: rgba(155, 155, 155, 1);
   --text-background: rgb(235, 235, 235);
   --text-surface: rgba(78, 78, 78, 1);
   --text-error: rgba(51, 28, 28, 1);
}

/* 
Prevents accidentally reloading and other mistakes while
the app is installed, which is very bad during scouting!

Source:
https://stackoverflow.com/questions/69261011/disable-pull-to-refresh-in-ios-15-safari/
*/

/* prevent pull-to-refresh for Safari 16+ */
/* @media screen and (pointer: coarse) {
   @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none)  {
     html {
       min-height: 100.3%;
       overscroll-behavior-y: none;
     }
   }
 } */
/* prevent pull-to-refresh for Safari 9~15 */
/* @media screen and (pointer: coarse) {
/*
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
    html {
      height: 100%;
      overflow: hidden;
    }
    body {
      margin: 0px;
      max-height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
*/

/* prevent pull-to-refresh for Chrome 63+ */
/* body{
  overscroll-behavior-y: none;
} */

/* prevent pinch-zoom for Chrome 36+, Safari 13+ */
/* prevent pinch-zoom at page bottom */
html {
   touch-action: pan-x pan-y;
   min-height: 100%;
}

.noselect {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}
