.container {
   height: 100%;
   width: 21rem;
   flex-shrink: 0;
   background-color: var(--surface);
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   padding: 1.75rem;
   padding-bottom: 0rem;
   gap: 1.25rem;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.containerHeader {
   color: var(--primary);
}

.contentContainer {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.picklistList {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   height: 1rem;
   overflow: scroll;
   gap: 0.75rem;
   scroll-snap-type: y mandatory;
}

.picklistList::-webkit-scrollbar {
   display: none;
}

.selectionContent {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-bottom: 1.75rem;
   gap: 1rem;
}

.picklistCard {
   scroll-snap-align: start;
   width: 100%;
   border: 2px solid var(--text-background);
   border-radius: 1rem;
   padding: 1rem 1.25rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   user-select: none;
   cursor: pointer;
   transition: 0.2s;
}

.picklistCard:hover {
   border: 2px solid var(--primary-variant);
}

.picklistCardTop {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.picklistCardBottom {
   font-size: 0.935rem;
   display: flex;
   width: 100%;
   justify-content: space-between;
   color: var(--text-secondary);
}

.picklistCardType {
   color: var(--primary);
}

.newPicklistButton {
   width: 100%;
   border: 2px solid var(--text-background);
   border-radius: 1rem;
   padding: 1rem 1.25rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   user-select: none;
   cursor: pointer;
   transition: 0.2s;
}

.newPicklistButton:hover {
   color: var(--primary);
}

.loadBox {
   height: 100%;
   width: 100%;
   border: 2px solid var(--text-background);
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--text-secondary);
}

.editNameButton {
   color: var(--text-background);
   cursor: pointer;
   transition: 0.2s;
}

.editNameButton:hover {
   color: var(--text-primary);
}

/* Edit tab styles */

.editTabContainer {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   flex-grow: 1;
   margin-bottom: 1rem;
}

.actionButtons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 3.25rem;
   gap: 0.5rem;
}

.squareButton {
   display: flex;
   aspect-ratio: 1;
   height: 100%;
   border-radius: 1rem;
   justify-content: center;
   align-items: center;
   color: var(--primary);
   border: 2px solid var(--text-background);
   transition: 0.2s;
   user-select: none;
   cursor: pointer;
}

.saveButton {
   display: flex;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   justify-content: space-between;
   padding-inline: 1rem;
   align-items: center;
   border: 2px solid var(--text-background);
   transition: 0.2s;
   cursor: pointer;
   user-select: none;
}

.saveButton:hover {
   color: var(--primary);
}

.teamsContainer {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   flex-grow: 1;
   height: 1rem;
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
}

.teamsContainer::-webkit-scrollbar {
   display: none;
}

.teamCardContainer {
   display: flex;
   flex-direction: column;
   padding: 1.25rem 1rem;
   justify-content: center;
   align-items: space-between;
   border: 2px solid var(--text-background);
   border-radius: 1rem;
   scroll-snap-align: start;
}
