.container {
   height: 100%;
   width: 1rem;
   flex-grow: 1;
   background-color: var(--surface);
   border-radius: 1rem;
   padding: 1.75rem;
   padding-bottom: 0;
   display: flex;
   flex-direction: column;
}

.header {
   color: var(--primary);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.25rem;
   height: 1.25rem;
   margin-bottom: 1rem;
}

.matchContainer {
   display: flex;
   flex-direction: column;
   width: 100%;
   overflow: scroll;
   scroll-snap-type: y mandatory;
   padding-bottom: 1rem;
}

.matchContainer::-webkit-scrollbar {
   display: none;
}

.seperator {
   height: 0.15rem;
   flex-shrink: 0;
   width: 100%;
   background-color: var(--text-background);
   border-radius: 1rem;
   margin-bottom: 0.25rem;
}

.matchCard {
   width: 100%;
   display: flex;
   flex-direction: column;
   scroll-snap-align: start;
}

.matchInfo {
   width: 100%;
   display: flex;
   flex-direction: row;
   height: 2rem;
   justify-content: space-between;
   align-items: center;
}

.matchTitle {
   width: 5rem;
   color: var(--primary);
   display: flex;
   flex-shrink: 0;
   gap: 0.25rem;
}

.matchTime {
   font-family: 'Ubuntu Mono';
   width: 5rem;
   font-size: 1.1rem;
   flex-shrink: 0;
   text-align: right;
   color: var(--text-secondary);
}

.matchTeams {
   display: flex;
   flex-direction: row;
   flex-grow: 0.5;
   gap: 2rem;
   height: 100%;
}

.redTeams {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}

.blueTeams {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}

.teamCard {
   display: flex;
   width: 4rem;
   box-sizing: border-box;
   text-align: center;
   height: 2rem;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   border: 2px solid rgba(0, 0, 0, 0);
   border-radius: 0.25rem;
}

.teamCard.priority {
   border: 2px solid var(--primary);
}

.titles {
   display: flex;
   width: 100%;
   justify-content: space-between;
   gap: 3rem;
   color: var(--text-secondary);
   margin-bottom: 0.5rem;
}