.container {
   height: 100%;
   width: 1rem;
   flex-grow: 1;
   background-color: var(--surface);
   border-radius: 1rem;
   padding: 1.75rem;
   gap: 1rem;
   display: flex;
   flex-direction: column;
}

.header {
   color: var(--primary);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.25rem;
   height: 1.25rem;
}