.authRoot {
   height: 100%;
}

.container {
   display: flex;
   width: 18rem;
   flex-direction: column;
   gap: 1rem;
   margin-top: calc(50vh - 9rem);
}

.header {
   color: var(--primary, #CDA745);
   font-family: Outfit;
   font-size: 1.05rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;

   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.modebox {
   display: flex;
   flex-direction: row;
   width: 100%;

   border-radius: var(--soft-corner, 0.9375rem);
   border: 2px solid var(--surface, #131313);
   background: var(--inset, #0D0D0D);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

   overflow: hidden;
}

.modeButton {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;
   flex: 1 0 0;
   align-self: stretch;
   height: 3rem;
   width: 100%;

   transition: 0.1s;
}

.signinButton {
   border-right: 2px solid var(--surface, #131313);
}

.signupButton {
   border-left: 2px solid var(--surface, #131313);
}

.modeButton.active {
   background-color: var(--surface);
   color: var(--primary, #CDA745);
   font-family: inherit;
}

.modeButton.inactive {
   background-color: var(--inset);
   color: var(--text-secondary, #CDA745);
   font-family: inherit;
}
