.container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.cardContainer {
   display: flex;
   flex-direction: row;
   height: 12rem;
   gap: 1rem;
}

.errBox {
   display: flex;
   flex-direction: column;
   border: 3px solid var(--text-background);
   flex-grow: 1;
   align-items: center;
   justify-content: space-between;
   padding: 2.5rem 1.5rem;
   border-radius: 1rem;
   color: var(--text-secondary);
}
