.container {
   display: flex;
   position: absolute;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   padding: 2rem 1.5rem;
}

.returnHeader {
   display: flex;
   color: var(--primary);
   gap: 1rem;
   width: 100%;
   flex-direction: column;
}

.returnHeaderButton {
   display: flex;
   gap: 0.5rem;
}

.seperator {
   flex-shrink: 0;
   width: 100%;
   height: 3px;
   background-color: var(--text-background);
}

.notice {
   display: flex;
   text-align: center;
   color: var(--text-secondary);
   font-size: 0.95rem;
}

.matchSelectionBox {
   display: flex;
   flex-direction: column;
   width: 18rem;
}

.inputContainer {
   display: flex;
   flex-direction: column;
}

.selectionBox {
   display: flex;
   flex-direction: column;
   background-color: var(--surface);
   width: 100%;
   border-radius: 1rem;
   gap: 1rem;
   padding: 1.25rem 1rem;
   margin-bottom: 1rem;
}

.nextContainer {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

.continueButton {
   background-color: var(--primary);
   flex-grow: 1;
   color: var(--text-background);
   justify-content: center;
   align-items: center;
   font-size: 1.75rem;
   display: flex;
   border-radius: 10rem;
}

.alternateMatches {
   display: flex;
   flex-direction: column;
   background-color: var(--surface);
   width: 100%;
   border-radius: 1rem;
   gap: 1rem;
   padding: 1.25rem 1.25rem;
   height: 16rem;
   overflow-y: scroll;
}

.alternateMatchContainer {
   display: flex;
   flex-direction: column;
   background-color: var(--text-background);
   padding: 1rem 1.25rem;
   border-radius: 1rem;
   gap: 0.25rem;
}

.matchHeader {
   font-size: 0.95rem;
   color: var(--primary);
}

.teamHeader {
   font-size: 0.935rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}