.picklistContainer {
   display: flex;
   flex-direction: row;
   gap: 0.75rem;
   overflow-x: scroll;
   border-radius: 1rem;
}

.picklistContainer::-webkit-scrollbar {
   display: none;
}

.picklistCard {
   background-color: var(--surface);
   padding: 1.25rem;
   border-radius: 1rem;
   width: 12rem;
   flex-shrink: 0;
   height: 9rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.cardHeader {
   color: var(--primary);
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

.addNew {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   flex-shrink: 0;
   border-radius: 1rem;
   background-color: var(--surface);
   font-size: 1.75rem;
   color: var(--text-secondary);
}

.cardBottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.loadBox {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--surface);
   border: 1rem;
   height: 9rem;
}
