.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   background-color: var(--inset);
   padding: 3rem 2rem;
   border-radius: 1rem;
   border: 2px solid var(--surface);
}

.header {
   color: var(--primary);
}

.button {
   width: 8rem;
   height: 3rem;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--surface);
   transition: 0.1s;
}

.button:hover {
   color: var(--primary);
}