.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   width: 100%;
   margin: 0.5rem;
   padding: 2rem 2rem;
   border-radius: 1rem;
   border: 3px solid var(--surface);
}

.header {
   color: var(--primary);
}

.button {
   width: 8rem;
   height: 3rem;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   border: 2px solid var(--surface);
}

.button:hover {
   color: var(--primary);
}