.topbar {
   display: flex;
   height: 3rem;
   width: 100%;
   justify-content: space-between;
}

.path {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   align-items: center;
   color: var(--text-secondary);
   padding: 1.25rem 1.5rem;
   border-radius: 1rem;
   border: 2px solid var(--surface);
}

.eventBreadcrumb {
   display: flex;
   background-color: var(--surface);
   color: var(--text-primary);
   padding-inline: 1rem;
   height: 1.5rem;
   align-items: center;
   border-radius: 10rem;

   font-size: 0.935rem;

   cursor: pointer;
   transition: 0.2s;
}

.eventBreadcrumb:hover {
   color: var(--primary);
}

.user {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   align-items: center;
   color: var(--text-primary);
   cursor: pointer;
   transition: 0.2s;
   padding: 1.25rem 1.5rem;
   border-radius: 1rem;
   border: 2px solid var(--surface);
}

.userText {
   flex-shrink: 0;
}

.icon {
   transition: 0.2s;
}

.user:hover .icon {
   color: var(--primary);
}

.userBreadcrumb {
   display: flex;
   background-color: var(--primary);
   color: var(--text-background);
   padding-inline: 1rem;
   height: 1.5rem;
   align-items: center;
   border-radius: 10rem;

   font-size: 0.935rem;
   transition: 0.2s;
}

.topbarSeperator {
   width: 100%;
   height: 4px;
   background-color: var(--surface);
   border-radius: 1rem;
   margin: 0.5rem 0 0.5rem 0;
}

.link {
   cursor: pointer;
   transition: 0.2s;
}

.link:hover {
   text-decoration: underline dotted;
}

.eventDropdownContainer {
   position: relative;
   display: inline-block;
}

.topbarRight {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
}

.refreshButton {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   aspect-ratio: 1;
   border: 2px solid var(--surface);
   border-radius: 1rem;
   user-select: none;
   cursor: pointer;
   transition: 0.2s;
}

.refreshButton:hover {
   color: var(--primary);
}
