.userSettingsContainer {
   position: absolute;
   display: block;
   width: 18rem;
   background-color: var(--inset);
   border: 3px solid var(--surface);
   right: 0;
   top: 4.75rem;
   border-radius: 1rem;
   padding: 1.25rem;
   margin: 0 1.5rem 0 0;
   z-index: 5;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.userSettingsHeader {
   color: var(--primary);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 1.5rem;
}

.seperator {
   width: 100%;
   height: 0.25rem;
   margin: 1rem 0;
   background: var(--surface);
   border-radius: 10rem;
}
.focusTeamSection {
   margin-top: 1rem; 
   display: flex;
   flex-direction: column; 
   gap: 0.75rem; 
}

.teamInput {
   padding: 0.5rem;
   border: 1px solid var(--surface);
   border-radius: 4px;
   width: 100%; 
}

.focusButton {
   padding: 0.5rem 1rem;
   background-color: var(--primary-hover);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-align: center;
}

.focusButton:hover {
   background-color: var(--primary);
}
